## Classification Problem

In [1]:
# import pandas as pd
# import numpy as np

In [2]:
# df=pd.read_csv('hiring.csv')

In [3]:
# df

In [4]:
# Independent and Dependent features
# X=df.iloc[:,:-1]
# y=df.iloc[:,-1]

In [5]:
# X.head()

In [6]:
# y.head(20)

In [7]:
# Train Test Split
# from sklearn.model_selection import train_test_split

In [8]:
# X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [9]:
# y_train

In [10]:
# Implement Random Forest classifier
# from sklearn.linear_model import LogisticRegression
# classifier=LogisticRegression()
# classifier.fit(X_train,y_train)

In [11]:
# Prediction
# y_pred=classifier.predict(X_test)

In [12]:
# Check Accuracy
# from sklearn.metrics import mean_squared_error
# from math import sqrt
# rms=sqrt(mean_squared_error(y_test,y_pred))

In [13]:
# rms

In [14]:
# Create a Pickle file  
# import pickle
# pickle_out = open("hiring.pkl","wb")
# pickle.dump(classifier, pickle_out)
# pickle_out.close()

In [15]:
# import numpy as np

In [16]:
# classifier.predict([[1,10,100]])

In [17]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [18]:
dataset = pd.read_csv('hiring.csv')
dataset

   experience  test_score  interview_score  salary
0           1           8                9   50000
1           1           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           8                7   72000
7          11           7                8   80000

In [20]:
X = dataset.iloc[:, :3]
X

   experience  test_score  interview_score
0           1           8                9
1           1           8                6
2           5           6                7
3           2          10               10
4           7           9                6
5           3           7               10
6          10           8                7
7          11           7                8

In [21]:
y = dataset.iloc[:, -1]
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary, dtype: int64

In [22]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [23]:
#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression()

In [26]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

print(model.predict([[2, 9, 100]]))

[285034.23940593]

C:\Users\neenu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(